<div id="edit_user_form" class="account-container">
  <div class="login-form">

    <h2>Modificar Usuario</h2>
    <% if resource.errors.any? %>
      <%= render :partial => "layouts/shared/errors", :locals => {:object => resource}%>
    <% end %>
    
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),
      :html => { :method => :put, :style => "margin-bottom: 0px;"}) do |f| %>
    
      <%= f.label :email %>
      <%= f.email_field :email, :class => "login-fields register", :autofocus => true %>
    
      <%= f.label :password %> 
      <%= f.password_field :password, :class => "login-fields register", :autocomplete => "off" %>
      <span class="help-block"> <%= t('.help_block_password')%> </span>
    
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, :class => "login-fields register" %>
    
      <%= f.label :current_password %>
      <%= f.password_field :current_password, :class => "login-fields register" %>
      <span class="help-block"> <%= t('.help_block_password_current')%> </span>
      <br/>
      <div align="right">
        <%= link_to t('.button_back'), :back %>
        &nbsp;
        <%= f.submit t('.button_update'), :class => 'btn btn-large btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

<% if resource.errors.any? %>
  <script type="text/javascript" language="javascript" charset="utf-8">
  // <![CDATA[
    $(function(){
      $('#edit_user_form').css('margin-top', '-45px');
    })

  // ]]>
  </script>
<% end %>
