<div class="account-container" style="width: 405px;">
  <div class="login-form">
    
    <h2> <%= t('.title')%> </h2>
    <br />
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'form-signin' }) do |f| %>
      <%= devise_error_messages! %>
      
      <%= f.email_field :email, :class => "login-fields register", :autofocus => true, :placeholder => "Email" %>
      
      <%= f.submit t('.button_reset_passwd'), :class => 'btn btn-success' %>
    <% end %>
  
    <hr />
  
    <%= render "devise/shared/links" %>
  </div>
</div>