<div class="row-fluid">
  <div class="span10 offset1">
    
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          
          <div class="row-fluid">
            <div class="span12">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_client_filter" style="background-color: #DDDDDD;">
                <%= t('.link_filter')%>  
              </a>
            </div>
          </div>
              
        </div>
        <div id="collapse_client_filter" class="accordion-body collapse">
          <div class="accordion-inner">
            
            <%= form_for @client_filter, url: clients_path, method: 'get', html: {class: 'form-inline', style: 'margin-bottom: 0px;'} do |f| %>
              
              <div class="row-fluid">
                <div class="span3">
                  <%= f.label :name, :class => 'control-label' %> &nbsp;
                  <%= f.text_field :name, :class => 'span12' %>
                </div>
                
                <div class="span3">
                  <%= f.label :document_number, :class => 'control-label' %> <br/>
                  <%= f.text_field :document_number, :class => 'span12' %>
                </div>
                
                <%= f.fields_for :certificates do |c| %>
                  <div class="span3">
                    <%= c.label :taxi_license_number, :class => 'control-label' %> &nbsp;
                    <%= c.text_field :taxi_license_number, :class => 'span12' %>
                  </div>
                <% end %>
                
                <div class="span3">
                  <div class="pull-right" style="margin-top: 31px;">
                    <%= submit_tag t('.button_apply_filter'), class: 'btn btn-primary', name: 'buscar' %>
                    &nbsp;&nbsp;&nbsp;
                    <%= link_to t('.button_delete_filter'), clients_path, :class => '' %>
                  </div>
                </div>
              
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>