<div class="control-group">
  <%= f.label :name, "Nombre y apellido:", :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :name, :class => 'input-xlarge' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :document_type, "Tipo de documento:", :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :document_type, :class => 'input-xlarge' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :document_number, "Nro. de documento:", :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :document_number, :class => 'input-xlarge' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :address, "Direccion:", :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :address, :class => 'input-xlarge' %>
  </div>
</div>


