<div class="account-container">
  <div class="login-form">
    
    <center> <h2 style="color: #EEE600;">YatayWeb</h2>  </center>
    <br>
    <h4> <%= t('.title')%> </h4>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-signin'}) do |f| %>
      <%= f.email_field :email, :autofocus => true, :class => "login-fields username-field", :placeholder => "Email" %>
    
      <%= f.password_field :password, :class => "login-fields password-field", :placeholder => "Password"%>
      
      <label class="checkbox">
        <div>
        <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me %> <%= f.label :remember_me %>
        <% end -%>
        </div>
        
        <div align="right">
          <%= f.submit t('.button_login'), :class => 'btn btn-large btn-primary' %>
        </div>
      </label>
    <% end %>
    
    <hr />
    
    <%= render "devise/shared/links" %>
  </div>
</div>