<!DOCTYPE html>
<html>
  <head>
    <title> YatayWeb </title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  
  <body class="login">
  
    <div class='container'>
      <% unless flash.empty? %>
        <div class="row-fluid">
          <div class="span12">
            <%= render :partial => 'layouts/general/flash_messages'%>
          </div>
        </div>
      <% end %>
      
      <div class="row">
        <div class="span12">
          <%= yield %>
        </div>
      </div>
    </div>
  
  </body>
</html>
